.a {

  background: url(https://i.gifer.com/26ph.gif);
  background-size: cover;

    width: 100%;
    /* display: flex; */
}

.padre {
    display: grid;
    justify-content: center;
  }
  .selectfont{
    font-size:20px;
    background-color:#0f5b55 ;
    left: 679px;
    position: relative;
    height: -100px;
    cursor: pointer;
    border-radius: 80px;
    
    
  
  }

  .selectfont2{
    font-size:18px;
    background-color:#b7be56 ;
    height: 150px;
    right: 270px;
    position: relative;
    bottom: 89px;
    height: 48px;
    cursor: pointer;
    border-radius: 80px;
    
  
  }


  .selectfont:hover{
   
    transform: scale(1.05);
    border: solid 2px lightseagreen;
    box-shadow: 0px 5px lightseagreen;
  
    background-image: linear-gradient(to top, lightseagreen 0%, lightseagreen 100%);
    
 }
 .selectfont:active {
    transform: scale(0.9);
} 
  
.selectfont2:hover{
   
  transform: scale(1.05);
  border: solid 2px lightseagreen;
  box-shadow: 0px 5px lightseagreen;

  background-image: linear-gradient(to top, lightseagreen 0%, lightseagreen 100%);
  
}
.selectfont2:active {
  transform: scale(0.9);
} 


  .carddirectionhome{ 
      display: grid;
      font-size:21px;
      /* background-color: royalblue; */
      /* justify-content: left;  */
      /* flex-direction: row */      
    }

    .selectfont3{
      font-size:18px;
      background-color:#ccc42e ;
      left: 420px;
      position: relative;
      bottom: 41px;
      height: 48px;
      border-radius: 80px;
      cursor: pointer;
    
      
    
    }
  
  
    .selectfont3:hover{
     
      transform: scale(1.05);
      border: solid 2px lightseagreen;
      box-shadow: 0px 5px lightseagreen;
    
      background-image: linear-gradient(to top, lightseagreen 0%, lightseagreen 100%);
      
   }
   .selectfont3:active {
      transform: scale(0.9);
  } 

  .card{

    display:grid;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    
  }

  .gif{

    margin-left: auto;
     margin-right:auto;
  }

  @media (max-width: 500px) {
    .divFiltros {
        height: auto;
        width: auto;
    }
  
  }
  
  @media only screen and (min-width:501) and (max-width: 850px) {}
  