
.cards2{
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    justify-content: center;
    color: green;
    width: 380px;
   
    
}



.title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    height:35px;
    padding-left:10px;
    padding-right:10px;
    color:white;
}

.image2 {
    width: 200px;
    height:150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 2px goldenrod;
    border-radius:20px;
    margin-top: 10px;
}

.genres2{
    margin: 0em 0.4em;
    color: white;
    
}

.rat{
    color: white;
    
}

.card{
    
   
    justify-content: center;
   
    background-color: #6659df13;
    text-decoration: none;
    border-radius: 10px;
    /* color: #7265e7; */
    color:gold;
    box-shadow: 0px 5px goldenrod;
    transition: 500ms;
    margin-left: 3em;
    margin-right: 0.5em;
    margin-top:0em;
    margin-bottom: 2em;
    height: 310px;
    width: 250px;
    overflow: hidden;
    box-sizing: border-box;
    
}
 .card:hover{
   
    transform: scale(1.05);
    border: solid 2px #154360;
    box-shadow: 0px 5px #154360;
  
    background-image: linear-gradient(to top, #154360 0%, #CA6F1E  100%);
    
 }


.NavLink{
    text-decoration: none;
    
}


